<html>
  <head>
    <title>Collective Dynamic Portrait</title>
    <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>
    <style>
      h1 {
          font-family: 'K2D';font-size: 48px;
      }
      h2 {
        font-family: 'K2D';font-size: 20px;
      }
      .callback{
        position:absolute;
        height: 100%;
        width:100%;
      }
  
      .callbackForm{
        position:relative;
        width:auto;
        height:auto;
        top:30%;
        text-align: center;
        background-color: #92a8d1;
      }
  
      #login{
        font-family: 'K2D';font-size: 20px;
      }
      </style>
  </head>
  <body>
      <div class="callback">
            <div class="callbackForm">
                <h2>Check out the portrait!</h2>
            </div>
      </div>
  </body>
</html>

